.sidebar{
	border-right: 5px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #efefef; 
	height: 100%;
}

.list-group{
	margin-right: -15px;
	margin-left: -15px;
	border-top: 1px solid #efefef;
}
.list-group-item{
	color: rgb(66, 146, 198);
}

.list-group-item.active{
	background-color: rgb(66, 146, 198)!important;
	color: #efefef;
	border: none;
}
.list-group-item.active:hover{
	background-color: rgb(66, 146, 198)!important;
	color: #efefef;
}

.list-group-item:hover{
	background-color: rgb(66, 146, 198)!important;
	color: #efefef;
    transition: length 0.1s;
}

p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	margin-bottom:.0001pt;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:.5in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
