.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.msa {
    fill:#7EC0EE;
    stroke:white;
}

.msa:hover {
    fill:darken(#7EC0EE,15%);
}

.state {
    stroke-width:1px;
    stroke:#fff
}

.state:hover {
    //stroke:#333;
    stroke-width: 2px;
    //fill-opacity: 0.6
}

.puma{
    fill: none;
    stroke: white;
    stroke-width: 0.5px;
}