.sidebar{
	border-right: 5px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #efefef; 
	height: 100%;
}

.list-group{
	margin-right: -15px;
	margin-left: -15px;
	border-top: 1px solid #efefef;
}
.list-group-item{
	color: rgb(66, 146, 198);
}

.list-group-item.active{
	background-color: rgb(66, 146, 198)!important;
	color: #efefef;
	border: none;
}
.list-group-item.active:hover{
	background-color: rgb(66, 146, 198)!important;
	color: #efefef;
}

.list-group-item:hover{
	background-color: rgb(66, 146, 198)!important;
	color: #efefef;
    transition: length 0.1s;
}
.legendRow{
	display:flex;
	justify-content: center;
	flex-direction: row;
}
.legendContainer{
	padding: 10px;
	width:40%;
	min-height: 50px;
	background-color: #fff;
	position: relative;
	top:1rem;
	left:1rem;
	border-radius: 5px;
}

.paddedDiv{
	padding: 40px;
}

.studiesContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.studiesDiv{
		flex-basis: 25%;
		padding: 5px;
}

.studiesbutton{
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	text-align: center;
	padding: 5px;
	min-height: 250px;
	border: 2px solid #efefef;
	border-radius: 4px;
	color: #efefef;
	background-color: #efefef;
	-webkit-box-shadow: 7px 7px 25px -11px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 25px -11px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 25px -11px rgba(0,0,0,0.75);
}

.studiesContent{
	display: flex;
	flex-direction:column;
	justify-content: space-around;
}
